@import '../../assets/styles/variables';
@import '../../assets/styles/defaults.scss';

.wrapper {
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
}

.recipeBox {
  margin-bottom: 0;
  h1 {
    color: red;
    margin-bottom: 0;
  }
  width: 30%;
  margin: auto;
}

.recipeBoxDescription {
  border: 5px solid $color-yellow;
  border-radius: 10px;
  background: $color-dark;
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-bottom: 5%;
  color: $color-yellow;
  p {
    text-align: center;
  }

  #recipeContainer {
    float: left;
  }
  #ingredientContainer {
    float: right;
    margin: right;
  }
}
