@import '../../assets/styles/variables';
@import '../../assets/styles/defaults.scss';

@media (min-width: 700px) {
  .wrapper {
    display: inline-grid;
    grid-template-columns: 450px 1fr 1fr 1fr;
    grid-column-gap: 50px;
    width: 100%;
    margin: auto;

    .sideBar {
      background-color: $color-light;
      grid-row-start: 1;
      grid-row-end: 15;

      h1 {
        padding: 20px;
        display: inline-block;
        &:hover {
          color: $color-blue;
        }
      }

      hr {
        width: 90%;
        border: 1px solid $color-dark;
      }

      p {
        padding: 20px;
        width: 90%;
      }
    }

    .recipeBox {
      h1 {
        color: red;
        margin-top: auto;
        text-decoration: underline;
      }
      width: 230px;
      margin-top: 20px;
    }

    .recipeBoxDescription {
      border: 5px solid $color-yellow;
      border-radius: 10px;
      background: $color-dark;
      padding: 10px;
      width: 210px;
      height: 250px;
      color: $color-yellow;
      text-align: center;

      img {
        height: 50%;
      }

      p {
        text-align: center;
      }

      #metadata {
        img {
          width: 15px;
          height: 15px;
        }
        p {
          float: left;
          margin-left: 20%;
        }

        p + p {
          float: right;
          margin-right: 30%;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    display: inline-grid;
    grid-template-columns: auto;
    grid-column-gap: 50px;
    margin: auto;
    width: 100%;

    .sideBar {
      background-color: $color-light;
      grid-row-start: 1;
      grid-row-end: 15;
      display: none;

      h1 {
        padding: 20px;
        display: inline-block;
        &:hover {
          color: $color-blue;
        }
      }

      hr {
        width: 90%;
        border: 1px solid $color-dark;
      }

      p {
        padding: 20px;
        width: 90%;
      }
    }

    .recipeBox {
      margin-bottom: 0;
      h1 {
        color: red;
        margin-top: auto;
      }
      width: auto;
      margin-top: 20px;
      margin: auto;
    }

    .recipeBoxDescription {
      border: 5px solid $color-yellow;
      border-radius: 10px;
      background: $color-dark;
      padding: 20px;
      width: 250px;
      height: 200px;
      margin-bottom: 5%;
      color: $color-yellow;
      text-align: center;

      img {
        height: 50%;
      }

      p {
        text-align: center;
      }

      #portionsIcon {
        width: 5px;
        height: 5px;
      }
    }
  }
}
