@import '../../assets/styles/variables';

.fridgePage {
  border: 3px solid $color-blue;
  border-radius: 25px;
  margin: auto;
  height: 75%;
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .itemList {
    width: 80%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  .item {
    text-align: left;
    font-size: 1.2rem;
    border-bottom: 3px solid $color-blue;
    width: 80%;
    margin: 5% 0;
    color: $color-light;
    font-family: $font;
    width: 100%;
  }
  &__addIngredient {
    width: 80%;
    padding-top: 20px;
  }
}
