.button-style {
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-background-color: #EBE8BF;
    -fx-text-fill: #3B4255;
}

.input-field-style {
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

.input-field-style, .text-area-style .content {
    -fx-background-color: #F4C20D;
    -fx-text-fill: #3B4255;
    -fx-prompt-text-fill: #3B4255;
}

.text-area-style {
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-prompt-text-fill: #3B4255;
}

.combobox-style {
    -fx-background-color: #F4C20D;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}
.list-view, .list-cell {
    -fx-background-color: #3B4255;
    -fx-text-fill: #F4C20D;
    -fx-wrap-text: true;
}

.list-view-style, .list-view-style .list-cell {
    -fx-background-color: transparent;
}
.list-view-style .list-cell {
    -fx-alignment: center;
    -fx-font-size: 14px;
}