.error{
    -fx-background-color: #E32B2B;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.warning{
    -fx-background-color: #F4C20D;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.msg{
    -fx-background-color: #66C3B1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.feedback-text{

}