.recipe-name {
    -fx-fill: #e32b2b;
    -fx-font-size: 26px;
}
.recipe-info {
    -fx-fill: #f4c20d;
    -fx-font-size: 18.5px;
}
.child-pane, .recipes-info-pane {
    -fx-background-color: #42404b;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #f4c20d;
    -fx-border-width: 3;
    -fx-text-alignment: center;
}
.recipe-description {
    -fx-fill: #f4c20d;
    -fx-font-size: 12;
    -fx-text-alignment: center;
}
.recipes-info-pane {
    -fx-pref-height: 522;
    -fx-pref-width: 522;
}
.recipe-info-name {
    -fx-wrap-text: 522px;
    -fx-fill: #f4c20d;
    -fx-text-alignment: center;
    -fx-font-size: 26px;
}
