@import '../../assets/styles/variables';
@import '../../assets/styles/defaults.scss';

.new-recipe-container {
  color: $color-light;
  width: 50%;
  height: auto;
  margin: auto;
  //border: 2px solid $color-yellow;
  form {
    width: 100%;
    margin-top: 20px;

    input,
    textArea,
    select,
    button {
      color: $color-dark;
      width: 100%;
      margin-bottom: 20px;
      background-color: $color-yellow;
      border-radius: 5px;
    }
    input,
    select,
    button {
      height: 25px;
      text-align: center;
    }
    textArea {
      height: 60px;
    }
    input[name='portions'] {
      margin-left: 5px;
      width: 15%;
    }
    input[name='estimatedTime'] {
      float: right;
      margin-right: -5px;
      width: 40%;
    }
    input[name='ingredient'],
    input[name='quantity'],
    select[name='unit'],
    #addIngredientButton {
      width: 20%;
    }
    input[name='ingredient'],
    input[name='quantity'],
    select[name='unit'] {
      margin-right: 5%;
    }
    #addInstructionButton {
      width: 100%;
      margin-left: 0.5%;
    }
    #addIngredientButton {
      margin-left: -2%;
      background-color: $color-light;
    }
    button {
      background-color: $color-yellow;
    }
    .instructions,
    .ingredients {
      width: 100%;
      height: auto;
      min-height: 50px;
      border: 2px solid $color-yellow;
    }

    textArea[name='instruction'] {
      margin-bottom: 5px;
    }

    .ingredients > p,
    .instructions > p {
      text-align: center;
      margin-top: 0px;
    }
    button:hover,
    input[type='submit']:hover {
      cursor: pointer;
    }
  }
}
