@import '../../assets/styles/variables';
@import '../../assets/styles/defaults.scss';

.new-recipe-wrapper {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 60px);
}
.new-recipe-container {
  .first-part-form {
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  color: $color-light;
  width: 40%;
  margin: 70.6px auto;
  display: flex;

  flex-direction: column;

  .ingredients > p,
  .instructions > p {
    text-align: center;
    margin-top: 0px;
  }

  ol > li {
    border-bottom: 2px solid $color-light;
    margin-bottom: 4px;
  }
  .delete-div {
    width: 13px;
    height: 13px;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 6%;
    cursor: pointer;
    float: right;
    color: $color-light;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  input,
  textarea {
    background-color: $color-dark-light;
    text-decoration: none;
    border: 2px solid $color-blue;
    border-radius: 5px;
    color: $color-light;
    outline: none;
    font-family: $font;
    font-size: 1rem;
    padding: 10px;

    &::placeholder {
      color: $color-light;
      font-style: italic;
      opacity: 0.6;
    }
  }
  button {
    font-family: $font;
    font-size: 1rem;
    border: none;
    color: $color-dark;
    background-color: $color-blue;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  /*https://www.w3schools.com/css/css_tooltip.asp*/
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: $color-dark;
    color: $color-light;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 2px solid $color-light;
    margin: -7px 0 0 5px;

    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  #feedback_text:empty {
    display: none;
  }

  .form__ {
    &name-port-time-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 170px;

      .portion-time-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    &ingredient {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &instruction {
      display: flex;
      flex-direction: column;
    }
  }
}
.unit-recipe {
  background-color: $color-dark-light;
  outline: none;
  border: 2px solid $color-blue;
  padding: 10px 20px;
  color: $color-light;
  border-radius: 5px;
}

.instruction-form-container {
}
